.nav{
    height: 100vh;
    width: 6vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(#FF9770, #FF70A6 );
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

